.sliderContainer {
   display: flex;
   gap: 1rem;
   padding-inline: 10px;
   overflow-x: auto;
   margin-top: 1.1rem;
}
::-webkit-scrollbar {
   width: 20px;
}

.categoryBox {
   height: 5rem;
   width: 5rem;
   background-color: rgb(124, 116, 116);
   border-radius: 5px;
}

.categoryCard {
   text-align: center;
}