.sliderContainer {
   display: flex;
   gap: 1rem;
   padding-inline: 10px;
   overflow-x: auto;
   margin: 1.1rem 0;
   
}
::-webkit-scrollbar {
   width: 20px;
}

.categoryBox {
   height: 5rem;
   width: 5rem;
   background-color: rgb(124, 116, 116);
   border-radius: 5px;
}

.categoryCard {
   text-align: center;
}
.catagoryName{
   font-size: 14px;
   /* line-height: 1.5rem; */
   letter-spacing: 2px;
   color: hsla(0, 0%, 0%, 0.609);
}